
<div class="col-md-3 elem menu">
    <ul class="nav flex-column">
        <li class="brand-image">
            <p><a href="/index" >
                <img src="https://etu.ru/assets/files/ru/universitet/korporativnyj-stil/2019/leti_logo_vertical-eng_blu.svg" width="339px">
            </a></p>
        </li>
        <li class="nav-item media" onclick="classList.add('active')">
            <img src="/images/group-of-men.svg" width="58" height="58" class="align-self-center mr-3">
            <div class="media-body">
                <a class="nav-link" href="/stud">Students database</a>
            </div>
        </li>
        <li class="nav-item media" onclick="classList.add('active')">
            <img src="/images/faculty.svg" width="58" height="50" class="align-self-center mr-3">
            <div class="media-body">
                <a class="nav-link " href="/facul">Faculties database</a>
            </div>
        </li>
        <li class="nav-item media" onclick="classList.add('active')">
            <img src="/images/presentation.svg" width="58" height="45" class="align-self-center mr-3">
            <div class="media-body">
                <a class="nav-link" href="/report">Report</a>
            </div>
        </li>
        <li class="lead">
            <p> Contacts:<br>
                e-mail: leti@gmail.com <br>
                +79505676435<br>
            </p>
        </li>
    </ul>
</div>